.row {
  column-count: 2;
  column-gap: 0px;
}

.left-side {
  background-color: #298cba;
  height: 100%;
  width: 100%;
  
}
.right-side {
  height: 100vh;
  width: 100%;
}

.logoWide {
  width: 400px;
  margin: 42% 50% 50% 25%;
}

.signupForm {
  text-align: center;
  padding-top: 25%;
}

.loginForm {
  text-align: center;
  padding-top: 25%;
}

.title {
  font-size: 24px;
}

input[type=text], select {
  width: 70%;
  margin: 8px 0;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=password], select {
  width: 70%;
  margin: 8px 0;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #298cba;
  width: 75%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  background-color: #e9df2b;
  color: black;
}