.SignupComponent {
  height: 100vh;
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

body {
  background-color: #298cba;
}

.logoWide {
  width: 400px;
}

.signupForm {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  width: 130%;
  height: 60%;
  margin: auto;
  padding-top: 20px;
}

.loginForm {
  text-align: center;
  padding-top: 25%;
}

.title {
  font-size: 24px;
}

input[type=text], select {
  width: 50%;
  margin: 8px 0;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type=password], select {
  width: 50%;
  margin: 8px 0;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background-color: #298cba;
  width: 55%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  background-color: #e9df2b;
  color: black;
}